game
server
test
.DS_Store
*.o
*.a
*~
*.kate-swp
.sconsign.dblite
.scons-option-cache
.directory
*.blend1
*.blend2
*.blend3
*.db
*.odt#
.*.swp
dirs.txt
core
core.*
*.exe

MacOS/include
MacOS/lib
xcuserdata
project.xcworkspace
