game
server
test
.DS_Store
*.o
*.a
*~
*.kate-swp
*.sublime-workspace
*.sublime-project
.sconsign.dblite
.scons-option-cache
.directory
*.blend1
*.blend2
*.blend3
*.db
*.odt#
.*.swp
dirs.txt
core
core.*
*.exe
*.d

compiled/

MacOS/include
MacOS/lib
xcuserdata
project.xcworkspace

Device-Debug
Device-Release