IDI_ICON1 ICON DISCARDABLE "modules/cube_trains/images/os/windows/ct-icon.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
//FILEOS          VOS_WINDOWS32
//FILETYPE        VFT_APP
BEGIN
   BLOCK "StringFileInfo"
   BEGIN
       BLOCK "040904E4"
       BEGIN
           VALUE "CompanyName",      "cubetrains.com\0"
           VALUE "FileDescription",  "Cube Trains, 2D routing puzzle game\0"
           VALUE "FileVersion",      "1.0.0.0\0"
           VALUE "ProductName",      "CubeTrains\0"
           VALUE "ProductVersion",   "1.0.0\0"
           VALUE "LegalCopyright",   "\0"
       END
   END
   BLOCK "VarFileInfo"
   BEGIN
       VALUE "Translation", 0x409, 1252
   END
END