	[object_type]
	id=surf_controller
	ignore_collide=true
	zorder=-200

	[editor_info]
	category=controllers
		[var]
		name=zone_x1
		type=x
		value="x"
		[/var]
		[var]
		name=zone_y1
		type=y
		value="y"
		[/var]
	[/editor_info]

	[consts]
	damage=1
	[/consts]

#	on_editor_changing_variable="remove_water(zone_x1, zone_y1, zone_x2, zone_y2)"
#	on_editor_removed="remove_water(zone_x1, zone_y1, zone_x2, zone_y2)"
#	on_editor_changed_variable="add_water(zone_x1, zone_y1, zone_x2, zone_y2, [70, 0, 70, 50])"
#	on_editor_added="add_water(zone_x1, zone_y1, zone_x2, zone_y2, [70, 0, 70, 50])"
	
	on_start_level="[
	    set(activation_area, [vars.zone_x1 - 500, vars.zone_y1 - 100, vars.zone_x1 + 1000, (vars.zone_y2 - vars.zone_y1) + 100])]"
	
	on_load="[
	    set(alpha,0), add_particles('fizz'),
		fire_event('setup_particles')]"
		
	on_create="set(xscale, 1500)"

	on_process="fire_event('setup_particles')"

	on_setup_particles="[
	   #set(bubbles.area, [zone_x1, zone_y1, zone_x2, zone_y2]),#
	   set(fizz.min_x, vars.zone_x1 - x -1*cycle/4),
	   set(fizz.max_x, vars.zone_x1 - x +1*cycle/4),
	   set(fizz.min_y, vars.zone_y1 - y - 2 + cycle/200),
	   set(fizz.max_y, vars.zone_y1 - y + 2 + cycle/200),
	   set(fizz.spawn_rate, 1*cycle*20),
	   set(fizz.a, max(0,(255 - cycle/4)))
	   ]
	   "
	
	on_end_anim="animation('normal')"
		[animation]
		id=normal
		image=effects/particles.png
		x=147
		y=102
		w=28
		h=28
		frames=1
		duration=1000
		[/animation]


		[particle_system]
		id=bubbles
		type=water
		number_of_particles=100
		repeat_period=200
		velocity_y=-1
		velocity_x=0
		velocity_rand=4
		dot_size=2
		color=120,250,200,200
		[/particle_system]


		[particle_system]
		id=fizz
		type=simple
		spawn_rate=600
		time_to_live=80
		min_x=-60
		max_x=260
		min_y=-15
		max_y=15
		velocity_x=-100
		velocity_y=-140
		velocity_x_random=200
		velocity_y_random=200
		#color=255,255,255,255
		delta_a=2
			[animation]
			id=sparkle
			image=effects/particles.png
			rect=3,93,9,99
			pad=3
			frames=5
			frames_per_row=5
			scale=2
			duration=8
			green=0
			[/animation]
		[/particle_system]

	[/object_type]
