
### Instructions: When one does deign to create a win_grid object, one should call the create function (not the event) before adding one's win_grid to a level.

[object_type]
	id=win_win
	next_animation="'red'"
	always_active=yes
	zorder=1100 #1100, +~10 is for the GUI
	
	[vars]
		size=[3,4]
		objs=[]
		flags=[]
		pix_size=[]
		magic=8			#occasionally an x offset#
		timeout=1
	[/vars]
	
	[consts]
		tile_size = 20
	[/consts]
	
	[properties]
		#size, [x,y] grid spaces big (0 for default fit). objs is a list of gui objects to put in grid. flags is a list which may contain 'grey' and/or 'timeout' (set vars.timeout).#
		create="def(size_in, flags) [
			set(me.draw_area, [0,0,pix_size[0],pix_size[1]]),
			set(me.facing, 0),
			[	set(me.animation, colour),
				[	set(obj.animation, colour), #west wall#
					set(obj.draw_area, [0, 0, (obj.img_w*3)/2, pix_size[1]-(me.x-obj.x)/2]),
					add_object(obj),
					set(obj.parent, me),
					] where obj = object(me.type+'.wwall', x-img_w/2, y + (img_h*3)/2, facing),
				[	set(obj.animation, colour), #east wall#
					set(obj.draw_area, [0, 0, (obj.img_w*3)/2, pix_size[1]+(me.y-obj.y)]),
					add_object(obj),
					set(obj.parent, me),
					] where obj = object(me.type+'.ewall', x+(pix_size[0]*3)/2+img_w, y + (img_h*3)/2, facing),
				[	set(obj.animation, colour), #north wall#
					set(obj.draw_area, [0, 0, pix_size[0]-(me.x-obj.x), (obj.img_h)/2]),
					add_object(obj),
					set(obj.parent, me),
					] where obj = object(me.type+'.nwall', x+(img_w*3)/2, y-img_h/2, facing),
				[	set(obj.animation, colour), #south wall#
					set(obj.draw_area, [0, 0, pix_size[0]-(me.x-obj.x), (obj.img_h)/2]),
					add_object(obj),
					set(obj.parent, me),
					] where obj = object(me.type+'.swall', x+(img_w*3)/2, y+pix_size[1]*2+img_h/2, facing),
				[	set(obj.animation, colour), #north-east corner#
					add_object(obj),
					set(obj.parent, me),
					] where obj = object(me.type+'.necorner', x+(pix_size[0]*3)/2+magic, y, 1),
				[	set(obj.animation, colour), #south-east corner#
					add_object(obj),
					set(obj.parent, me),
					] where obj = object(me.type+'.secorner', x+(pix_size[0]*3)/2+magic, y+pix_size[1]*2, 1),
				[	set(obj.animation, colour), #south-west corner#
					add_object(obj),
					set(obj.parent, me),
					] where obj = object(me.type+'.swcorner', x, y+pix_size[1]*2, 1),
				[	set(obj.animation, colour), #north-west corner#
					add_object(obj),
					set(obj.parent, me),
					] where obj = object(me.type+'.nwcorner', x, y, 1),
				] where colour = if('grey' in flags, 'grey', 'red'),
				set(vars.pix_size, pix_size),
				if('timeout' in flags, schedule(timeout*50 #(fps)#, fire_event(me, 'kill'))),
			] where pix_size = [size_[0]*consts.tile_size, size_[1]*consts.tile_size]
			where size_ = if(size_in != [0,0], size_in, [5, 1+size(objs)/5])"
			
		scr_center="[lcp[0]+lcp[2]/2, lcp[1]+lcp[3]/2] where lcp = level.camera_position"
		to_center="[set(x, sc[0]-pix_size[0]+magic*2), set(y, sc[1]-pix_size[1])] where sc = scr_center"
		#level.player.ctrl_mice[0]
		
		#map works, filter doesn't?#
		kill="[map(filter(level.chars, 'char', char.parent=context.me), 'char', remove_object(char)), remove_object(me)]"
		
		
	[/properties]
	
	on_process="to_center"
	
	on_kill="kill"

	[animation]
		id=red
		image=gui/window-parts/red.png
		x=0
		y=0
		w=8
		h=8
		frames=1
		duration=1000000
	[/animation]
	
	[animation]
		id=grey
		image=gui/window-parts/grey.png
		x=0
		y=0
		w=8
		h=8
		frames=1
		duration=1000000
	[/animation]
	
	[object_type]
		id=wwall
		next_animation="'red'"
		always_active=yes
		zorder=1101

		[animation]
			id=red
			image=gui/window-parts/wredwall.png
			x=0
			y=0
			w=8
			h=16
			frames=1
			duration=1000000
		[/animation]
		
		[animation]
			id=grey
			image=gui/window-parts/wgreywall.png
			x=0
			y=0
			w=8
			h=16
			frames=1
			duration=1000000
		[/animation]
	[/object_type]
	
	[object_type]
		id=ewall
		next_animation="'red'"
		always_active=yes
		zorder=1101

		[animation]
			id=red
			image=gui/window-parts/eredwall.png
			x=0
			y=0
			w=8
			h=16
			frames=1
			duration=1000000
		[/animation]
		
		[animation]
			id=grey
			image=gui/window-parts/egreywall.png
			x=0
			y=0
			w=8
			h=16
			frames=1
			duration=1000000
		[/animation]
	[/object_type]
	
	[object_type]
		id=nwall
		next_animation="'red'"
		always_active=yes
		zorder=1101

		[animation]
			id=red
			image=gui/window-parts/nredwall.png
			x=0
			y=0
			w=16
			h=8
			frames=1
			duration=1000000
		[/animation]
		
		[animation]
			id=grey
			image=gui/window-parts/ngreywall.png
			x=0
			y=0
			w=16
			h=8
			frames=1
			duration=1000000
		[/animation]
	[/object_type]
	
	[object_type]
		id=swall
		next_animation="'red'"
		always_active=yes
		zorder=1101

		[animation]
			id=red
			image=gui/window-parts/sredwall.png
			x=0
			y=0
			w=16
			h=8
			frames=1
			duration=1000000
		[/animation]
		
		[animation]
			id=grey
			image=gui/window-parts/sgreywall.png
			x=0
			y=0
			w=16
			h=8
			frames=1
			duration=1000000
		[/animation]
	[/object_type]
	
	[object_type]
		id=necorner
		next_animation="'red'"
		always_active=yes
		zorder=1101

		[animation]
			id=red
			image=gui/buttons-and-windows.png
			x=67
			y=2
			w=16
			h=16
			frames=1
			duration=1000000
		[/animation]
		
		[animation]
			id=grey
			image=gui/buttons-and-windows.png
			x=26
			y=2
			w=16
			h=16
			frames=1
			duration=1000000
		[/animation]
	[/object_type]
	
	[object_type]
		id=secorner
		next_animation="'red'"
		always_active=yes
		zorder=1101

		[animation]
			id=red
			image=gui/buttons-and-windows.png
			x=67
			y=26
			w=16
			h=16
			frames=1
			duration=1000000
		[/animation]
		
		[animation]
			id=grey
			image=gui/buttons-and-windows.png
			x=26
			y=26
			w=16
			h=16
			frames=1
			duration=1000000
		[/animation]
	[/object_type]
	
	[object_type]
		id=swcorner
		next_animation="'red'"
		always_active=yes
		zorder=1101

		[animation]
			id=red
			image=gui/buttons-and-windows.png
			x=44
			y=26
			w=16
			h=16
			frames=1
			duration=1000000
		[/animation]
		
		[animation]
			id=grey
			image=gui/buttons-and-windows.png
			x=3
			y=26
			w=16
			h=16
			frames=1
			duration=1000000
		[/animation]
	[/object_type]
	
	[object_type]
		id=nwcorner
		next_animation="'red'"
		always_active=yes
		zorder=1101

		[animation]
			id=red
			image=gui/buttons-and-windows.png
			x=44
			y=2
			w=16
			h=16
			frames=1
			duration=1000000
		[/animation]
		
		[animation]
			id=grey
			image=gui/buttons-and-windows.png
			x=3
			y=2
			w=16
			h=16
			frames=1
			duration=1000000
		[/animation]
	[/object_type]
	
[/object_type]