
	[object_type]
	id=fire_explosion
	dies_on_inactive=true
	on_players_side=true
	on_collide_with="hit(collide_with)"
	on_end_normal_anim="die()"
	#on_create="[map([0,0,0,0,0,0,0],spawn('explosion_spark',midpoint_x,midpoint_y,0)), set(distortion, distortion((x + x2)/2, (y + y2)/2, 40))]"
	#on_process="set(distortion, 'radius', if(animation != 'normal3', distortion.radius + distortion.radius/10, (distortion.radius*4)/5))"
	
#	solid_area=0,0,30,30
		[animation]
		id=normal
		image=effects/explosion.png
		rect=3,132,33,162
		frames_per_row=3
		frames=9
		duration=3
		pad=3
		[/animation]
	[/object_type]
