	
	[object_type]
	id=mushroom_hopper_blue
	prototype=hittable
	tags=swallowable

	[editor_info]
	category=plants
	[/editor_info]
	
	[vars]
		points_value="9"
		turns_at_cliffs=1
		rebound=0
	[/vars]

	[properties]
		team="'evil'"
	[/properties]


	[consts]
		solid_dimensions="['common','enemy']"
		basic_type="'mushroom_hopper_blue'"
		basic_animation="'stand'"
		thrown_type="'mushroom_hopper_blue.thrown'"
		frogourmet_tag="'mushroom_hopper_blue'"
	[/consts]
	
	friction=1000
	traction=1000
	traction_in_air=0
	springiness=100

	on_die="[score(level,points_value), spawn_item(self), if(vars.died_in_water,
																		[if(abs(water_bounds[1] - midpoint_y) > 40, 
																		spawn('water_splash_underwater_big', midpoint_x, midpoint_y, if(1d2=2,facing,-facing)),
																		spawn('water_splash', midpoint_x, water_bounds[1]+10, if(1d2=2,facing,-facing))),
																	sound('water-enter.ogg'),],
																spawn('die_cloud', midpoint_x, midpoint_y, facing))]"
	
	on_land="[if(velocity_y>300,set(vars.rebound, -(velocity_y*2)/3)),animation('land')]"
	

	on_collide_feet="fire_event(me, 'land')"

	on_end_stand_anim="[animation('hop')]"
	
	on_end_hop_anim="[animation('fall'),set(velocity_y,-800-1d400),set(velocity_x, (200+1d100)* if(level.player.midpoint_x<midpoint_x,-1,1))]"
	on_end_fall_anim="if(is_standing, fire_event(me, 'land'), animation('fall'))"

	#give it a little bounce, if it's falling fast
	on_end_land_anim="if(vars.rebound,[animation('fall'),set(velocity_y,vars.rebound), set(vars.rebound,0)],animation('stand'))"

	
	solid_area=8,11,15,21
	solid_dimensions=enemy,common
		[base:animation]
		image=enemies/mushroom-hopper-blue.png
		pad=3
		accel_x=0
		accel_y=60
		body_area=all
		attack_area=5,5,17,10
		[/animation]

		[animation]
		id=hop
		rect=27,1,49,23
		frames=1
		duration=5
		[/animation]

		[animation]
		id=land
		rect=27,1,49,23
		frames=1
		duration=5
		[/animation]

		[animation]
		id=fall
		rect=53,1,75,23
		frames=1
		duration=10
		[/animation]

		[animation]
		id=stand
		rect=1,1,23,23
		frames=1
		duration=40
		[/animation]


		[object_type]	
		id=thrown
		prototype=throwable_small_enemy
		solid_area=8,11,15,21

		[consts]
			basic_type="'mushroom_hopper_blue'"
			thrown_type="'mushroom_hopper_blue.thrown'"
			frogourmet_tag="'mushroom_hopper_blue'"
		[/consts]

			[base:animation]
			image=enemies/mushroom-hopper-blue.png
			pad=3
			accel_x=0
			accel_y=60
			[/animation]

			[animation]
			id=thrown
			thrown_area=all
			duration=60
			rect=131,1,153,23
			frames=1
			body_area=none
			[/animation]
			
			[animation]
			id=on_back
			rect=105,1,127,23
			frames=3
			duration=3
			body_area=all
			[/animation]
		[/object_type]
	[/object_type]

