IDI_ICON1 ICON DISCARDABLE "../images/os/windows/frogatto.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,2,0,0
//FILEOS          VOS_WINDOWS32
//FILETYPE        VFT_APP
BEGIN
   BLOCK "StringFileInfo"
   BEGIN
       BLOCK "040904E4"
       BEGIN
           VALUE "CompanyName",      "frogatto.com\0"
           VALUE "FileDescription",  "Frogatto & Friends 2D Platform Game.\0"
           VALUE "FileVersion",      "1.2.0.0\0"
           VALUE "ProductName",      "Frogatto\0"
           VALUE "ProductVersion",   "1.2.0\0"
           VALUE "LegalCopyright",   "\0"
       END
   END
   BLOCK "VarFileInfo"
   BEGIN
       VALUE "Translation", 0x409, 1252
   END
END