# Generated on Tue Nov 16 01:36:47 CST 2010 using:
#  make-tileset.pl lfm o0 tiles/forest-leaves.png --noslopes
[tiles]
palettes=forest_graveyard_shift,forest_autumn,forest_decay,forest_clean,forest_verdant

#horizontal tile
[tile_pattern]
image=tiles/forest-leaves.png
tiles=r1

pattern="
.* ,   ,.*  ,
(lfm),(lfm),(lfm),
.* ,   ,.* "
[/tile_pattern]

#horizontal tile with one tile below but not on either side
[tile_pattern]
image=tiles/forest-leaves.png
tiles=o5

pattern="
.* ,   ,.*  ,
(lfm),(lfm),(lfm),
   ,(lfm),   "
[/tile_pattern]

#horizontal tile with one tile above but not on either side
[tile_pattern]
image=tiles/forest-leaves.png
tiles=q5

pattern="
.* ,   ,.*  ,
(lfm),(lfm),(lfm),
   ,(lfm),   "
[/tile_pattern]

#overhang
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=r0

pattern="
.* ,   ,.*  ,
   ,(lfm),(lfm),
.* ,   ,.* "
[/tile_pattern]

#overhang - reversed
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=r2

pattern="
.* ,   ,.*  ,
(lfm),(lfm),   ,
.* ,   ,.* "
[/tile_pattern]

#sloped
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=o0

pattern="
   ,    ,(lfm)?,
   ,(lfm),(lfm),
(lfm),(lfm),(lfm)"
[/tile_pattern]

#sloped - tile immediately beneath
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=t1

pattern="
.*,   ,    ,(lfm)?,.*,
.*,   ,(lfm),(lfm),.*,
.*,(lfm),(lfm),(lfm),.*,
.*,(lfm),(lfm),(lfm),.*,
.*,.*,.*,.*,.*"
[/tile_pattern]

#sloped - reversed
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=o2

pattern="
(lfm)?,    ,   ,
(lfm),(lfm),   ,
(lfm),(lfm),(lfm)"
[/tile_pattern]

#sloped - reversed - tile immediately beneath
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=t0

pattern="
.*,(lfm)?,   ,    ,.*,
.*,(lfm),(lfm),   ,.*,
.*,(lfm),(lfm),(lfm),.*,
.*,(lfm),(lfm),(lfm),.*,
.*,.*,.*,.*,.*"
[/tile_pattern]

#single tile by itself
[tile_pattern]
image=tiles/forest-leaves.png
tiles=r3

pattern="
 .*,   , .*,
   ,(lfm),   ,
 .*,   , .*"
[/tile_pattern]

#top of thin platform
[tile_pattern]
image=tiles/forest-leaves.png
tiles=o3

pattern="
 .*,   , .*,
   ,(lfm),   ,
 .*,(lfm), .*"
[/tile_pattern]

#part of thin platform
[tile_pattern]
image=tiles/forest-leaves.png
tiles=p3

pattern="
 .*,(lfm), .*,
   ,(lfm),   ,
 .*,(lfm), .*"
[/tile_pattern]

#bottom of thin platform
[tile_pattern]
image=tiles/forest-leaves.png
tiles=q3

pattern="
 .*,(lfm), .*,
   ,(lfm),   ,
 .*,   , .*"
[/tile_pattern]

#cliff edge
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=o0

pattern="
  .*,   ,(lfm)?,
    ,(lfm),(lfm) ,
(lfm)?,(lfm),(lfm) "
[/tile_pattern]

#cliff edge - reverse
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=o2

pattern="
(lfm)?,   ,.* ,
(lfm),(lfm),   ,
(lfm),(lfm),(lfm)?"
[/tile_pattern]

#cliff edge -- version with a corner underneath/opposite
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=o6

pattern="
  .*,   ,(lfm)?,
    ,(lfm),(lfm) ,
(lfm)?,(lfm),    "
[/tile_pattern]

#cliff edge (reversed) -- version with a corner underneath/opposite
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=o4

pattern="
(lfm)?,   ,.*,
(lfm),(lfm),   ,
    ,(lfm),(lfm)?"
[/tile_pattern]

#middle of a cross
[tile_pattern]
image=tiles/forest-leaves.png
tiles=p5

pattern="
   ,(lfm),   ,
(lfm),(lfm),(lfm) ,
   ,(lfm),   "
[/tile_pattern]

#corner at two angles
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=r5

pattern="
(lfm),(lfm),   ,
(lfm),(lfm),(lfm),
   ,(lfm),(lfm)"
[/tile_pattern]

#corner at two angles (reversed)
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=r4

pattern="
   ,(lfm),(lfm),
(lfm),(lfm),(lfm),
(lfm),(lfm),   "
[/tile_pattern]

#corners on the top
[tile_pattern]
image=tiles/forest-leaves.png
tiles=t8

pattern="
   ,(lfm),   ,
(lfm),(lfm),(lfm),
(lfm),(lfm),(lfm)"
[/tile_pattern]

#corners on the bottom
[tile_pattern]
image=tiles/forest-leaves.png
tiles=s8

pattern="
(lfm),(lfm),(lfm),
(lfm),(lfm),(lfm),
   ,(lfm),   "
[/tile_pattern]

#corners both on the same side
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=s7

pattern="
   ,(lfm),(lfm),
(lfm),(lfm),(lfm),
   ,(lfm),(lfm)"
[/tile_pattern]

#corners both on the same side (reversed)
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=s6

pattern="
(lfm),(lfm),   ,
(lfm),(lfm),(lfm),
(lfm),(lfm),   "
[/tile_pattern]

#inner top corner piece
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=s1

pattern="
(lfm),(lfm),(lfm),
(lfm),(lfm),(lfm),
   ,(lfm),(lfm)"
[/tile_pattern]

#inner top corner piece (reversed)
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=s0

pattern="
(lfm),(lfm),(lfm),
(lfm),(lfm),(lfm),
(lfm),(lfm),   "
[/tile_pattern]

#inner bottom corner piece
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=t1

pattern="
   ,(lfm),(lfm),
(lfm),(lfm),(lfm),
(lfm),(lfm),(lfm)"
[/tile_pattern]

#inner bottom corner piece (reversed)
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=t0

pattern="
(lfm),(lfm),   ,
(lfm),(lfm),(lfm),
(lfm),(lfm),(lfm)"
[/tile_pattern]

#corner at three sides
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=s3

pattern="
   ,(lfm),(lfm),
(lfm),(lfm),(lfm),
   ,(lfm),   "
[/tile_pattern]

#corner at three sides (reversed)
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=s2

pattern="
(lfm),(lfm),   ,
(lfm),(lfm),(lfm),
   ,(lfm),   "
[/tile_pattern]

#corner at three sides
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=t3

pattern="
   ,(lfm),   ,
(lfm),(lfm),(lfm),
   ,(lfm),(lfm)"
[/tile_pattern]

#corner at three sides (reversed)
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=t2

pattern="
   ,(lfm),   ,
(lfm),(lfm),(lfm),
(lfm),(lfm),   "
[/tile_pattern]

#roof at a corner
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=t7

pattern="
   ,(lfm),(lfm),
(lfm),(lfm),(lfm),
 .*,(lfm), .*"
[/tile_pattern]

#roof at a corner (reversed)
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=t6

pattern="
(lfm),(lfm),   ,
(lfm),(lfm),(lfm),
 .*,(lfm), .*"
[/tile_pattern]

#roof
[tile_pattern]
image=tiles/forest-leaves.png
tiles=q1

pattern="
.* ,(lfm), .*,
(lfm),(lfm),(lfm),
 .*,   , .*"
[/tile_pattern]

#bottom corner
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=q0

pattern="
(lfm)?,(lfm),(lfm),
    ,(lfm),(lfm),
.*  ,   , .*"
[/tile_pattern]

#bottom corner (reversed)
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=q2

pattern="
(lfm),(lfm),(lfm)?,
(lfm),(lfm),   ,
.*  ,   , .*"
[/tile_pattern]

#bottom corner with corner on opposite side
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=q6

pattern="
(lfm)?,(lfm),   ,
    ,(lfm),(lfm),
.*  ,   , .*"
[/tile_pattern]

#bottom corner with corner on opposite side (reversed)
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=q4

pattern="
   ,(lfm),(lfm)?,
(lfm),(lfm),   ,
.*  ,   , .*"
[/tile_pattern]

#solid
[tile_pattern]
image=tiles/forest-leaves.png
tiles=p1

pattern="
(lfm)?,(lfm),(lfm)?,
(lfm),(lfm),(lfm),
(lfm)?,(lfm),(lfm)?"
[/tile_pattern]

#cliff face coming up from a one-tile thick cliff and expanding out
#in one direction
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=s5

pattern="
(lfm),(lfm),.* ,
(lfm),(lfm),   ,
   ,(lfm),.* "
[/tile_pattern]

#cliff face coming up from a one-tile thick cliff and expanding out
#in one direction (reversed)
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=s4

pattern="
.* ,(lfm),(lfm),
   ,(lfm),(lfm),
.* ,(lfm),   "
[/tile_pattern]

#cliff face coming down from a one-tile thick cliff and expanding out
#in one direction
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=t5

pattern="
   ,(lfm),.* ,
(lfm),(lfm),   ,
(lfm),(lfm),.* "
[/tile_pattern]

#cliff face coming down from a one-tile thick cliff and expanding out
#in one direction (reversed)
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=t4

pattern="
.* ,(lfm),  ,
   ,(lfm),(lfm),
.* ,(lfm),(lfm)"
[/tile_pattern]

#cliff face coming both up and down from a one-tile thick cliff and expanding
#out into a ledge in one direction
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=p4

pattern="
   ,(lfm),.* ,
(lfm),(lfm),   ,
   ,(lfm),.* "
[/tile_pattern]

#cliff face coming both up and down from a one-tile thick cliff and expanding
#out into a ledge in one direction (reversed)
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=p6

pattern="
.* ,(lfm),   ,
   ,(lfm),(lfm),
.* ,(lfm),   "
[/tile_pattern]

#cliff face
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=p0

pattern="
.* ,(lfm),.* ,
   ,(lfm),(lfm),
.* ,(lfm),.* "
[/tile_pattern]

#cliff face (reversed)
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=p2

pattern="
.* ,(lfm),.* ,
(lfm),(lfm),   ,
.* ,(lfm),.* "
[/tile_pattern]

#ground - with a corner on one side beneath
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=r7

pattern="
.* ,   ,.* ,
(lfm),(lfm),(lfm),
   ,(lfm),(lfm)"
[/tile_pattern]

#ground - with a corner on one side beneath (reversed)
[tile_pattern]
image=tiles/forest-leaves.png
reverse=no
tiles=r6

pattern="
.* ,   ,.* ,
(lfm),(lfm),(lfm),
(lfm),(lfm),   "
[/tile_pattern]

#ground
[tile_pattern]
image=tiles/forest-leaves.png
tiles=o1

pattern="
(lfm)?,    ,(lfm)?,
(lfm) ,(lfm) ,(lfm) ,
(lfm)?,(lfm)?,(lfm)?"
[/tile_pattern]
[/tiles]
