[tiles]
palettes=forest_graveyard_shift,forest_decay,forest_clean,forest_verdant,seaside_stormy,seaside_verdant,seaside_village,cave_deep

### TOP AND BOTTOM

[multi_tile_pattern]
    chance=100
    pattern="       nbr  , nbr        , nbr        , nbr 
                    nbr  , nbr->tile1 , nbr->tile2 , nbr 
                    nbr  , nbr->tile3 , nbr->tile4 , nbr
                   (nbr)?,    ->tile5 ,    ->tile6 ,(nbr)?"
    [tile1]
    image=tiles/grey-rock2.png
    tiles=00
    [/tile1]
    [tile2]
    image=tiles/grey-rock2.png
    tiles=01
    [/tile2]

    [tile3]
    image=tiles/grey-rock2.png
    tiles=10
    [/tile3]
    [tile4]
    image=tiles/grey-rock2.png
    tiles=11
    [/tile4]

    [tile5]
    image=tiles/grey-rock2.png
    tiles=20
    [/tile5]
    [tile6]
    image=tiles/grey-rock2.png
    tiles=21
    [/tile6]

	[alternative]
		[tile1]
		image=tiles/grey-rock2.png
		tiles=02
		[/tile1]
		[tile2]
		image=tiles/grey-rock2.png
		tiles=03
		[/tile2]
	
		[tile3]
		image=tiles/grey-rock2.png
		tiles=12
		[/tile3]
		[tile4]
		image=tiles/grey-rock2.png
		tiles=13
		[/tile4]
	
		[tile5]
		image=tiles/grey-rock2.png
		tiles=22
		[/tile5]
		[tile6]
		image=tiles/grey-rock2.png
		tiles=23
		[/tile6]
	[/alternative]

[/multi_tile_pattern]

[multi_tile_pattern]
    chance=100
    pattern="     (nbr)?,    ->tile1 ,    ->tile2 ,(nbr)? 
                   nbr  , nbr->tile3 , nbr->tile4 , nbr 
                   nbr  , nbr->tile5 , nbr->tile6 , nbr
                   nbr  , nbr        , nbr        , nbr "
    [tile1]
    image=tiles/grey-rock2.png
    tiles=30
    [/tile1]
    [tile2]
    image=tiles/grey-rock2.png
    tiles=31
    [/tile2]

    [tile3]
    image=tiles/grey-rock2.png
    tiles=40
    [/tile3]
    [tile4]
    image=tiles/grey-rock2.png
    tiles=41
    [/tile4]

    [tile5]
    image=tiles/grey-rock2.png
    tiles=50
    [/tile5]
    [tile6]
    image=tiles/grey-rock2.png
    tiles=51
    [/tile6]
    
	[alternative]
		[tile1]
		image=tiles/grey-rock2.png
		tiles=32
		[/tile1]
		[tile2]
		image=tiles/grey-rock2.png
		tiles=33
		[/tile2]
	
		[tile3]
		image=tiles/grey-rock2.png
		tiles=42
		[/tile3]
		[tile4]
		image=tiles/grey-rock2.png
		tiles=43
		[/tile4]
	
		[tile5]
		image=tiles/grey-rock2.png
		tiles=52
		[/tile5]
		[tile6]
		image=tiles/grey-rock2.png
		tiles=53
		[/tile6]
	[/alternative]
    
	[alternative]
		[tile1]
		image=tiles/grey-rock2.png
		tiles=34
		[/tile1]
		[tile2]
		image=tiles/grey-rock2.png
		tiles=35
		[/tile2]
	
		[tile3]
		image=tiles/grey-rock2.png
		tiles=44
		[/tile3]
		[tile4]
		image=tiles/grey-rock2.png
		tiles=45
		[/tile4]
	
		[tile5]
		image=tiles/grey-rock2.png
		tiles=54
		[/tile5]
		[tile6]
		image=tiles/grey-rock2.png
		tiles=55
		[/tile6]
	[/alternative]
    
	[alternative]
		[tile1]
		image=tiles/grey-rock2.png
		tiles=36
		[/tile1]
		[tile2]
		image=tiles/grey-rock2.png
		tiles=37
		[/tile2]
	
		[tile3]
		image=tiles/grey-rock2.png
		tiles=46
		[/tile3]
		[tile4]
		image=tiles/grey-rock2.png
		tiles=47
		[/tile4]
	
		[tile5]
		image=tiles/grey-rock2.png
		tiles=56
		[/tile5]
		[tile6]
		image=tiles/grey-rock2.png
		tiles=57
		[/tile6]
	[/alternative]


[/multi_tile_pattern]






### SIDES
[multi_tile_pattern]
    chance=100
    pattern=" (nbr)?  , nbr        , nbr       , nbr
              ->tile1 , nbr->tile2 , nbr->tile3, nbr
              ->tile4 , nbr->tile5 , nbr->tile6, nbr
              (nbr)?  , nbr        , nbr       , nbr"
    [tile1]
    image=tiles/grey-rock2.png
    tiles=0d
    [/tile1]
    [tile2]
    image=tiles/grey-rock2.png
    tiles=0e
    [/tile2]
    [tile3]
    image=tiles/grey-rock2.png
    tiles=0f
    [/tile3]
    
    [tile4]
    image=tiles/grey-rock2.png
    tiles=1d
    [/tile4]
    [tile5]
    image=tiles/grey-rock2.png
    tiles=1e
    [/tile5]
    [tile6]
    image=tiles/grey-rock2.png
    tiles=1f
    [/tile6]

	[alternative]
		[tile1]
		image=tiles/grey-rock2.png
		tiles=2d
		[/tile1]
		[tile2]
		image=tiles/grey-rock2.png
		tiles=2e
		[/tile2]
		[tile3]
		image=tiles/grey-rock2.png
		tiles=2f
		[/tile3]
		
		[tile4]
		image=tiles/grey-rock2.png
		tiles=3d
		[/tile4]
		[tile5]
		image=tiles/grey-rock2.png
		tiles=3e
		[/tile5]
		[tile6]
		image=tiles/grey-rock2.png
		tiles=3f
		[/tile6]
	[/alternative]

[/multi_tile_pattern]


[multi_tile_pattern]
    chance=100
    pattern="nbr, nbr        , nbr        ,(nbr)?    
             nbr, nbr->tile1 , nbr->tile2 , ->tile3 
             nbr, nbr->tile4 , nbr->tile5 , ->tile6
             nbr, nbr        , nbr        ,(nbr)?         "
    [tile1]
    image=tiles/grey-rock2.png
    tiles=0a
    [/tile1]
    [tile2]
    image=tiles/grey-rock2.png
    tiles=0b
    [/tile2]
    [tile3]
    image=tiles/grey-rock2.png
    tiles=0c
    [/tile3]
    
    [tile4]
    image=tiles/grey-rock2.png
    tiles=1a
    [/tile4]
    [tile5]
    image=tiles/grey-rock2.png
    tiles=1b
    [/tile5]
    [tile6]
    image=tiles/grey-rock2.png
    tiles=1c
    [/tile6]

	[alternative]
		[tile1]
		image=tiles/grey-rock2.png
		tiles=2a
		[/tile1]
		[tile2]
		image=tiles/grey-rock2.png
		tiles=2b
		[/tile2]
		[tile3]
		image=tiles/grey-rock2.png
		tiles=2c
		[/tile3]
		
		[tile4]
		image=tiles/grey-rock2.png
		tiles=3a
		[/tile4]
		[tile5]
		image=tiles/grey-rock2.png
		tiles=3b
		[/tile5]
		[tile6]
		image=tiles/grey-rock2.png
		tiles=3c
		[/tile6]
	[/alternative]

[/multi_tile_pattern]





[multi_tile_pattern]
    chance=100
    pattern="      (nbr)?,    ->tile1 ,(nbr)?
                    nbr  , nbr->tile2 , nbr 
                    nbr  , nbr->tile3 , nbr
                    nbr  , nbr        , nbr" 
    [tile1]
    image=tiles/grey-rock1.png
    tiles=04
    [/tile1]
    [tile2]
    image=tiles/grey-rock1.png
    tiles=14
    [/tile2]
    [tile3]
    image=tiles/grey-rock1.png
    tiles=24
    [/tile3]
[/multi_tile_pattern]


[multi_tile_pattern]
    chance=100
    pattern="       nbr  , nbr        , nbr  
                    nbr  , nbr->tile1 , nbr 
                    nbr  , nbr->tile2 , nbr
                   (nbr)?,    ->tile3 ,(nbr)?" 
    [tile1]
    image=tiles/grey-rock1.png
    tiles=40
    [/tile1]
    [tile2]
    image=tiles/grey-rock1.png
    tiles=50
    [/tile2]
    [tile3]
    image=tiles/grey-rock1.png
    tiles=60
    [/tile3]
[/multi_tile_pattern]



[multi_tile_pattern]
    chance=100
    pattern="nbr, nbr        , nbr        ,(nbr)?      ,    
             nbr, nbr->tile1 , nbr->tile2 ,    ->tile3 , 
             nbr, nbr        , nbr        ,(nbr)?      ,         "
    [tile1]
    image=tiles/grey-rock1.png
    tiles=34
    [/tile1]
    [tile2]
    image=tiles/grey-rock1.png
    tiles=35
    [/tile2]
    [tile3]
    image=tiles/grey-rock1.png
    tiles=36
    [/tile3]
[/multi_tile_pattern]


## 2-deep, 2-thick sides

[multi_tile_pattern]
    chance=100
    pattern="(nbr)?      ,(nbr)?      , nbr        
                 ->tile1 , nbr->tile2 , nbr 
                 ->tile3 , nbr->tile4 , nbr 
             (nbr)?      ,(nbr)?      , nbr           "
    [tile1]
    image=tiles/grey-rock2.png
    tiles=6e
    [/tile1]
    [tile2]
    image=tiles/grey-rock2.png
    tiles=6f
    [/tile2]
    [tile3]
    image=tiles/grey-rock2.png
    tiles=7e
    [/tile3]
    [tile4]
    image=tiles/grey-rock2.png
    tiles=7f
    [/tile4]
[/multi_tile_pattern]



[multi_tile_pattern]
    chance=100
    pattern="nbr        ,(nbr)?      ,(nbr)?        
             nbr        , nbr->tile1 ,    ->tile2 
             nbr        , nbr->tile3 ,    ->tile4 
             nbr        ,(nbr)?      ,(nbr)?           "
    [tile1]
    image=tiles/grey-rock2.png
    tiles=6c
    [/tile1]
    [tile2]
    image=tiles/grey-rock2.png
    tiles=6d
    [/tile2]
    [tile3]
    image=tiles/grey-rock2.png
    tiles=7c
    [/tile3]
    [tile4]
    image=tiles/grey-rock2.png
    tiles=7d
    [/tile4]
[/multi_tile_pattern]


[multi_tile_pattern]
    chance=100
    pattern="(nbr)?       ,    ->tile1  ,    ->tile2, (nbr)? 
             (nbr)?       , nbr->tile3  , nbr->tile4, (nbr)? 
              nbr         , nbr         , nbr       ,  nbr  "
    [tile1]
    image=tiles/grey-rock2.png
    tiles=8c
    [/tile1]
    [tile2]
    image=tiles/grey-rock2.png
    tiles=8d
    [/tile2]
    [tile3]
    image=tiles/grey-rock2.png
    tiles=9c
    [/tile3]
    [tile4]
    image=tiles/grey-rock2.png
    tiles=9d
    [/tile4]
[/multi_tile_pattern]

[multi_tile_pattern]
    chance=100
    pattern=" nbr         , nbr         , nbr       ,  nbr   
             (nbr)?       , nbr->tile1  , nbr->tile2, (nbr)? 
             (nbr)?       ,    ->tile3  ,    ->tile4, (nbr)? 
            "
    [tile1]
    image=tiles/grey-rock2.png
    tiles=8e
    [/tile1]
    [tile2]
    image=tiles/grey-rock2.png
    tiles=8f
    [/tile2]
    [tile3]
    image=tiles/grey-rock2.png
    tiles=9e
    [/tile3]
    [tile4]
    image=tiles/grey-rock2.png
    tiles=9f
    [/tile4]
[/multi_tile_pattern]



## 2-deep, 1-thick sides

[multi_tile_pattern]
    chance=100
    pattern="nbr        ,(nbr)?      ,(nbr)?        
             nbr        , nbr->tile1 ,    ->tile2 
             nbr        ,(nbr)?      ,(nbr)?           "
    [tile1]
    image=tiles/grey-rock1.png
    tiles=20
    [/tile1]
    [tile2]
    image=tiles/grey-rock1.png
    tiles=21
    [/tile2]
[/multi_tile_pattern]


[multi_tile_pattern]
    chance=100
    pattern="(nbr)?      ,(nbr)?      , nbr        
                 ->tile1 , nbr->tile2 , nbr 
             (nbr)?      ,(nbr)?      , nbr           "
    [tile1]
    image=tiles/grey-rock1.png
    tiles=22
    [/tile1]
    [tile2]
    image=tiles/grey-rock1.png
    tiles=23
    [/tile2]
[/multi_tile_pattern]



[multi_tile_pattern]
    chance=100
    pattern="      (nbr)?,    ->tile1 ,(nbr)?
                   (nbr)?, nbr->tile2 ,(nbr)? 
                    nbr  , nbr        , nbr" 
    [tile1]
    image=tiles/grey-rock1.png
    tiles=01
    [/tile1]
    [tile2]
    image=tiles/grey-rock1.png
    tiles=11
    [/tile2]
    
    [alternative]
		[tile1]
		image=tiles/grey-rock1.png
		tiles=02
		[/tile1]
		[tile2]
		image=tiles/grey-rock1.png
		tiles=12
		[/tile2]
    [/alternative]
[/multi_tile_pattern]


[multi_tile_pattern]
    chance=100
    pattern="       nbr  , nbr         , nbr
                   (nbr)?, nbr ->tile1 ,(nbr)? 
                   (nbr)?,     ->tile2 ,(nbr)?" 
    [tile1]
    image=tiles/grey-rock1.png
    tiles=03
    [/tile1]
    [tile2]
    image=tiles/grey-rock1.png
    tiles=13
    [/tile2]
[/multi_tile_pattern]






### INTERIOR TILES:

[multi_tile_pattern]
    chance=100
    pattern="      (nbr)?, nbr         , nbr         , nbr         , nbr         ,(nbr)?
                    nbr  , nbr ->tile1 , nbr ->tile2 , nbr ->tile3 , nbr ->tile4 , nbr
                    nbr  , nbr ->tile5 , nbr ->tile6 , nbr ->tile7 , nbr ->tile8 , nbr
                    nbr  , nbr ->tile9 , nbr ->tile10, nbr ->tile11, nbr ->tile12, nbr
                    nbr  , nbr ->tile13, nbr ->tile14, nbr ->tile15, nbr ->tile16, nbr
                   (nbr)?, nbr         , nbr         , nbr         , nbr         ,(nbr)?" 
    [tile1]
    image=tiles/grey-rock1.png
    tiles=08
    [/tile1]
    [tile2]
    image=tiles/grey-rock1.png
    tiles=09
    [/tile2]
    [tile3]
    image=tiles/grey-rock1.png
    tiles=0a
    [/tile3]
    [tile4]
    image=tiles/grey-rock1.png
    tiles=0b
    [/tile4]

    [tile5]
    image=tiles/grey-rock1.png
    tiles=18
    [/tile5]
    [tile6]
    image=tiles/grey-rock1.png
    tiles=19
    [/tile6]
    [tile7]
    image=tiles/grey-rock1.png
    tiles=1a
    [/tile7]
    [tile8]
    image=tiles/grey-rock1.png
    tiles=1b
    [/tile8]

    [tile9]
    image=tiles/grey-rock1.png
    tiles=28
    [/tile9]
    [tile10]
    image=tiles/grey-rock1.png
    tiles=29
    [/tile10]
    [tile11]
    image=tiles/grey-rock1.png
    tiles=2a
    [/tile11]
    [tile12]
    image=tiles/grey-rock1.png
    tiles=2b
    [/tile12]

    [tile13]
    image=tiles/grey-rock1.png
    tiles=38
    [/tile13]
    [tile14]
    image=tiles/grey-rock1.png
    tiles=39
    [/tile14]
    [tile15]
    image=tiles/grey-rock1.png
    tiles=3a
    [/tile15]
    [tile16]
    image=tiles/grey-rock1.png
    tiles=3b
    [/tile16]
  
  [alternative]
      [tile1]
      image=tiles/grey-rock1.png
      tiles=0c
      [/tile1]
      [tile2]
      image=tiles/grey-rock1.png
      tiles=0d
      [/tile2]
      [tile3]
      image=tiles/grey-rock1.png
      tiles=0e
      [/tile3]
      [tile4]
      image=tiles/grey-rock1.png
      tiles=0f
      [/tile4]

      [tile5]
      image=tiles/grey-rock1.png
      tiles=1c
      [/tile5]
      [tile6]
      image=tiles/grey-rock1.png
      tiles=1d
      [/tile6]
      [tile7]
      image=tiles/grey-rock1.png
      tiles=1e
      [/tile7]
      [tile8]
      image=tiles/grey-rock1.png
      tiles=1f
      [/tile8]

      [tile9]
      image=tiles/grey-rock1.png
      tiles=2c
      [/tile9]
      [tile10]
      image=tiles/grey-rock1.png
      tiles=2d
      [/tile10]
      [tile11]
      image=tiles/grey-rock1.png
      tiles=2e
      [/tile11]
      [tile12]
      image=tiles/grey-rock1.png
      tiles=2f
      [/tile12]

      [tile13]
      image=tiles/grey-rock1.png
      tiles=3c
      [/tile13]
      [tile14]
      image=tiles/grey-rock1.png
      tiles=3d
      [/tile14]
      [tile15]
      image=tiles/grey-rock1.png
      tiles=3e
      [/tile15]
      [tile16]
      image=tiles/grey-rock1.png
      tiles=3f
      [/tile16]
  [/alternative]  
  [alternative]
      [tile1]
      image=tiles/grey-rock1.png
      tiles=4c
      [/tile1]
      [tile2]
      image=tiles/grey-rock1.png
      tiles=4d
      [/tile2]
      [tile3]
      image=tiles/grey-rock1.png
      tiles=4e
      [/tile3]
      [tile4]
      image=tiles/grey-rock1.png
      tiles=4f
      [/tile4]

      [tile5]
      image=tiles/grey-rock1.png
      tiles=5c
      [/tile5]
      [tile6]
      image=tiles/grey-rock1.png
      tiles=5d
      [/tile6]
      [tile7]
      image=tiles/grey-rock1.png
      tiles=5e
      [/tile7]
      [tile8]
      image=tiles/grey-rock1.png
      tiles=5f
      [/tile8]

      [tile9]
      image=tiles/grey-rock1.png
      tiles=6c
      [/tile9]
      [tile10]
      image=tiles/grey-rock1.png
      tiles=6d
      [/tile10]
      [tile11]
      image=tiles/grey-rock1.png
      tiles=6e
      [/tile11]
      [tile12]
      image=tiles/grey-rock1.png
      tiles=6f
      [/tile12]

      [tile13]
      image=tiles/grey-rock1.png
      tiles=7c
      [/tile13]
      [tile14]
      image=tiles/grey-rock1.png
      tiles=7d
      [/tile14]
      [tile15]
      image=tiles/grey-rock1.png
      tiles=7e
      [/tile15]
      [tile16]
      image=tiles/grey-rock1.png
      tiles=7f
      [/tile16]
  [/alternative]  
    
[/multi_tile_pattern]


[multi_tile_pattern]
    chance=100
    pattern="      (nbr)?, nbr         , nbr         ,(nbr)?
                    nbr  , nbr ->tile1 , nbr ->tile2 , nbr
                    nbr  , nbr ->tile3 , nbr ->tile4 , nbr
                   (nbr)?, nbr         , nbr         ,(nbr)?" 
    [tile1]
    image=tiles/grey-rock1.png
    tiles=a6
    [/tile1]
    [tile2]
    image=tiles/grey-rock1.png
    tiles=a7
    [/tile2]
    
    [tile3]
    image=tiles/grey-rock1.png
    tiles=b6
    [/tile3]
    [tile4]
    image=tiles/grey-rock1.png
    tiles=b7
    [/tile4]

    [alternative]
        [tile1]
        image=tiles/grey-rock1.png
        tiles=c6
        [/tile1]
        [tile2]
        image=tiles/grey-rock1.png
        tiles=c7
        [/tile2]
    
        [tile3]
        image=tiles/grey-rock1.png
        tiles=d6
        [/tile3]
        [tile4]
        image=tiles/grey-rock1.png
        tiles=d7
        [/tile4]
    [/alternative]
    [alternative]
        [tile1]
        image=tiles/grey-rock1.png
        tiles=e6
        [/tile1]
        [tile2]
        image=tiles/grey-rock1.png
        tiles=e7
        [/tile2]
    
        [tile3]
        image=tiles/grey-rock1.png
        tiles=f6
        [/tile3]
        [tile4]
        image=tiles/grey-rock1.png
        tiles=f7
        [/tile4]
    [/alternative]

[/multi_tile_pattern]

[multi_tile_pattern]
    chance=100
    pattern="      (nbr)?, nbr         ,(nbr)?
                    nbr  , nbr ->tile1 , nbr
                    nbr  , nbr ->tile2 , nbr
                   (nbr)?, nbr         ,(nbr)?" 
    [tile1]
    image=tiles/grey-rock1.png
    tiles=c4
    [/tile1]
    [tile2]
    image=tiles/grey-rock1.png
    tiles=d4
    [/tile2]

    [alternative]
        [tile1]
        image=tiles/grey-rock1.png
        tiles=c5
        [/tile1]
        [tile2]
        image=tiles/grey-rock1.png
        tiles=d5
        [/tile2]
    [/alternative]

[/multi_tile_pattern]

[multi_tile_pattern]
    chance=100
    pattern="      (nbr)?, nbr         , nbr         ,(nbr)?
                    nbr  , nbr ->tile1 , nbr ->tile2 , nbr
                   (nbr)?, nbr         , nbr         ,(nbr)?" 
    [tile1]
    image=tiles/grey-rock1.png
    tiles=a4
    [/tile1]
    [tile2]
    image=tiles/grey-rock1.png
    tiles=a5
    [/tile2]
    [alternative]
        [tile1]
        image=tiles/grey-rock1.png
        tiles=b4
        [/tile1]
        [tile2]
        image=tiles/grey-rock1.png
        tiles=b5
        [/tile2]
    [/alternative]

[/multi_tile_pattern]

[/tiles]