[tiles]


[tile_pattern]
image=experimental/rpg/water-underlay.png
#tiles=00|01|02|03|10|11|12|13
tiles=03
solid=yes
pattern="
.*   , .*  , .*  ,
.*   ,(wat), .*  ,
.*   , .*  , .*   "
[/tile_pattern]



[tile_pattern]
image=experimental/rpg/grass.png
tiles=90|90|90|90|90|90|90|90|90|90|90|90|90|90|90|90|91|92|93|a0|a1|a2
pattern="
.*   , .*  , .*  ,
.*   ,(grs), .*  ,
.*   , .*  , .*   "
[/tile_pattern]


[/tiles]
